#guide {
    font-size: 36px;
}

input {
    height: 30px;
    margin-top: 0px;
    border-radius: 4px;
    font-size: 30px;
    color: #FF4200FF;
}

.table,
table {
    display: table;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.tr {
    display: table-row;
}

.center {
    margin: auto;
}

.dropdown {
    position: relative;
    background-color: rgba(255, 255, 255, 0.26);
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4B4B4BFF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    right: 0;
}

#pdt {
    border: 0px;
}

#items {
    background-color: white;
    border-radius: 2px;
    border: 2px;
}

#items:hover {
    background-color: #4B4B4BFF;
    border-radius: 2px;
    border: 2px;
    cursor: pointer;
}

#tdnull {
    background-color: transparent;
    border: 0px;
}

.topic {
    background-color: #4B4B4BFF;
    border-radius: 1.5px;
    font-size: 24px;
    color: #FF9001FF;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.topicWrapper {
    width: 95%;
    display: inline-block;
    margin: 10px;
}

.content {
    background-color: white;
    align-content: center;
    border-radius: 1.5px;
    font-size: 18px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: 99%;
    box-sizing: border-box;
    padding: 10px;
}

.elemTitle {
    height: auto;
    background-color: rgba(75, 75, 75, 0.795);
    text-align: left;
    padding-left: 10px;
}

a:link,
a:visited,
a:hover {
    color: white;
    font-size: 48px;
    text-decoration: none;
    display: inline-block;
    font-variant: small-caps;
    text-shadow: 0px 0px 5px;
}

#box {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 0px;
    border-radius: 2px;
}

#category {
    height: auto;
    max-width: 80%;
    display: inline-block;
    background-color: white;
    margin-bottom: 10px;
    padding: 2px;
    border-radius: 2px;
}

#Ie {
    max-height: 144px;
    overflow-y: auto;
}

.info-l {
    background-color: #4B4B4BFF;
    color: #FF9001FF;
    display: inline-block;
    padding: 4px;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 2px;
    min-width: 50%;
}

.info-r {
    background-color: rgb(146, 146, 146);
    color: black;
    display: inline-block;
    min-width: 25%;
    padding: 4px;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
}

.subwrap {
    display: inline-block;
    min-width: 49%;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}


/* Scrollbar styles */

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
}